input[type="text"]
{
    font-size:40px;
}

input[type=submit] 
{
    background-color: #03396c;
	color: white;
	width: 60%;
	height: 2.0em;
	text-align: center;
	font-size: 2.0em;
	border-radius: 8px;
}

.emailform {
	margin: auto;
}

