h1 {
	font-family: sans-serif;
	color: black;
	font-size: 3em;
	text-decoration: underline;
}

.info {
	text-align: center;
	font-family: monospace;
	margin: auto;
	width: 50%;
	height: 97vh;
	background-color: #FFFF66;
	color: #333333;
}

li {
	font-size: 2em;
}

ul {
	display: inline-block;
	margin: auto;
}

body {
	background: url('./startbackground.gif');
	background-size: cover;
}
