div {
	display: inline-block;
}

.layoutpage {
	text-align: center;
	font-family: sans-serif;
	margin: auto;
	float: center;
	width: auto;
	height: auto;
}

#layoutselect {
	text-align: center;
	margin: auto;
	width: 90%;
	height: 50%;
	background-color: #fdcf58;
}

li {
	font-size: 2em;
}

ul {
	display: inline-block;
	margin: auto;
}

