.header {
  margin: auto;
  width: 80vw;
  height: 20vh;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif;
  color: #616365;
}

.buttonwrapper {
  width: 80vw;
  height: 70vh;
  text-align: center;
  margin: auto;
  background-color: #858585;
  padding: 1% 0 1% 0;
}

p {
  padding: 2% 0 2% 0;
  font-size: 2.5em;
  font-family: monospace;
  color: #DE4311;
}

div div {
  display: inline-block;
  border-radius: 5px;
  margin: 5px auto 5px auto;
  background-color: #BFBEBE;
}

#picam {
  width: 35vw;
}

#dslrcam {
  width: 35vw;
}

#manualdslr {
  width: 35vw;
}

#start {
  width: 70vw;
  color: #07624A;
  padding: 2% 0 2% 0;
  font-size: 2.5em;
  font-family: monospace;
}

.infobox {
  width: 35vw;
  padding: 2% 0 2% 0;
  font-family: monospace;
  font-size: 2em;
}
