.header {
  margin: auto;
  width: 80vw;
  height: 20vh;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif;
  color: #809999;
}

div div {
  display: inline-block;
  border-radius: 5px;
  margin: 5px auto 5px auto;
}

#start {
  width: 70vw;
  color: #96ceb4;
  padding: 2% 0 2% 0;
  font-size: 2.5em;
  font-family: monospace;
}

.setuplayout {
	text-align: center;
	font-family: sans-serif;
	margin: auto;
	float: center;
	width: auto;
	height: auto;
}
