.photogrid {
	position: absolute;
	border: 0px;
	border-collapse: collapse;
}

thead, th {
	height: 20px;
	font-size: 15px;
	padding: 0px;
}

td {
	padding: 0px;
	margin: 0px;
}

img {
	width: 960px;
	height: 530px;
	border-spacing: 0px;
}