.photogrid {
	margin-left:-10px;
	margin-top:-10px;
}

td {
	padding: 0px;
}

img {
	width: 50vw;
	height: 45vh;
	margin: -2px -1px -6px -1px;
}

.instrRow {
	width: 100vw;
	height: 5vh;
	background-color: red;
}

.instrCol {
	color: white;
	text-align: center;
}
