.titlewrap {
	float: left;
	background-color: #03396C;
	width: 50%;
	height: 100vh;
	margin-top: -8px;
}

.title {
	font-size: 55px;
	font-family: sans-serif;
	color: white;
	margin: auto;
	text-align: center;
	padding-top: 50%;
}

.ready {
	font-size: 30px;
	font-family: sans-serif;
	color: #DEDEDE;
	margin: auto;
	text-align: center;
}




.wrapper {
	float: right;
	background-color: #6497B1;
	width: 50%;
	height: 100vh;
	margin-top: -8px;
}

.dial {
	margin: auto;
	width: 90%;
	height: 90vh;
	margin-top: 5%;
}

td {
	padding: 5% 15% 5% 15%;
	color: #011f4b;
	background-color: #b3cde0;
	width: 30%;
	border-radius: 5px;
}

span {
	color: white;
	font-size: 2em;
	font-family: Arial;
}


body {
	background: url('./startbackground.gif');
	background-size: cover;
}
