.liveview {
  width: 80vw;
  height: 75vh;
  margin: 2% auto 2% auto;
  background-color: #adcbe3;
  box-shadow: 10px 10px 5px;
}

li {
  font-size: 1.5em;
}

.seephotos {
  width: 100vw;
  height: 10vh;
  background-color: #121212;
  color: white;
  text-align: center;
  font-size: 3em;
  font-family: sans-serif;
  margin-left: -8px;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  background-color: #2a4d69;
}
